@use '../../sass/' as *;

.dropdown{
    position: absolute;
    top: 150%;
    left: 0;
    width: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    font-size: 12px;
    color: var(--grey);
     background-color: var(--second-bg-color);
    border-radius: 2px;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 998;

    &.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    &-content {
        &__item {
            padding: 8px 10px;
          
            &:hover {
                background-color: var(--main-bg-color);
            }
        }
       
    }
}

.dropdown-flex{
    @include flex(center,space-between);
    width: 800px;
    flex-wrap: wrap;
    @include mobile {
       display: none;
    }
    & .dropdown-content__item, & .dropdown-content__header {
        width: 150px;
        @include flex(center,center);
        padding: 10px 15px;
       
        
    }
    
}
.dropdown-flex .dropdown-content__item {
    height: 50px;
    @include flex(center,center);
    // @include mobile {
    //     display: none !important;
    //  }
}
.dropdown-flex .dropdown-content__header {
    @include flex(center,center);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background-color: var(--red);
        bottom: 0;
    }
}